:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var( --Light-grayish-blue);
  
}
.container {
  width: 360px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.sub-container {
  margin: 0 20px;
  padding: 2rem;
  text-align: left;
  border-radius: 10px;
}
.sub-container .card-heading-text > * {
  margin: 0;
  padding-left: 1rem;
  font-size: 1rem;
}
.sub-container .card-heading-text p {
  opacity: 50%;
  font-size: 14px;
  padding-top: 0;
}
.card-heading {
  display: flex;
}
.card-heading img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.card-text p {
  opacity: 50%;
}

.card-1 {
  background-color: var(--Moderate-violet);
  color: #ffff;
  padding-right: 2.4rem;
  position: relative;
}
.card-1__quotation {
  position: absolute;

  padding-left: 10rem;
  margin-top: -2rem;
  z-index: 1;
}
.card-text {
  position: relative;
  z-index: 2;
}
.card-1__img {
  border: 3px solid #a775f2;
}
.card-2 {
  background-color: var(--Very-dark-grayish-blue);
  color: white;
}
.card-3 {
  background-color: #ffff;
}
.card-4 {
  background-color: var(--Very-dark-blackish-blue);
  color: #ffff;
}
.card-4 img {
  border: 3px solid #a775f2;
}
.card-5 {
  background-color: #ffff;
}

@media only screen and (min-width: 600px) {
  

  .container {
    /* height: 100vh; */
    width: 600px;
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      "c1 c2"
      "c3 c4"
      "c5 0";
    margin: 5rem auto;
  }
  .sub-container {
    height: auto;
    margin: 0;
    width: auto;
    overflow: hidden;
  }

  .card-1 {
    grid-area: c1;
  }
  .card-2 {
    grid-area: c2;
  }
  .card-3 {
    grid-area: c3;
  }
  .card-4 {
    grid-area: c4;
  }
  .card-5 {
    grid-area: c5;
  }
  .card-1__quotation {
    padding-left: 9.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 990px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "c1 c1 c2 c5"
      "c3 c4 c4 c5";
    margin: 5rem auto;
  }
  .card-1__quotation {
    padding-left: 18rem;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
